
<% if (locals.user != null) { %>
	<%- include('./partials/headerLogueado') %>
<% } else { %>
	<%- include('./partials/header') %>
<% } %>
	<!-- Banner -->
	<div class="banner">
		
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Pizza</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<% for (let i=0; i<products.length; i++){ %> 
			<% if (products[i].tipo=='pizza') { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/<%= products[i].id %> ">
						<figure class="product-box_image">
							<img src="<%=products[i].imagen%>" alt="<%=products[i].tipo%> <%=products[i].nombre %> ">
						</figure>
						<article class="product-box_data">
							<h2> <%=products[i].nombre%></h2>
							
							<p><%= products[i].descripcion %> </p>
							<!-- <p>Comentarios:  comments.length  </p> -->
						</article>
					</a>
				</section>
			</div>
			<%} %>
			<%} %>
	<!-- /Novedades -->
	<!-- Más comentados -->
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Pasta</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<% for (let i=0; i<products.length; i++){ %> 
				<% if (products[i].tipo=='pasta') { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/id/<%= products[i].id %> ">
							<figure class="product-box_image">
								<img src="<%=products[i].imagen%>" alt="<%=products[i].tipo%> <%=products[i].nombre %> ">
							</figure>
							<article class="product-box_data">
								<h2> <%=products[i].nombre%></h2>
								<p><%= products[i].descripcion %> </p>
								<p>Comentarios: <%= comments.length %> </p>
							</article>
						</a>
					</section>
				</div>
				<%} %>
				<%} %>
		</div>
	</div>
	
	<!-- /Más comentados -->

<%- include('./partials/footer') %>