<% if (locals.user != null) { %>
	<%- include('./partials/headerLogueado') %>
<% } else { %>
	<%- include('./partials/header') %>
<% } %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.nombre %></h2> 
			<p class="product-detail-editar">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<div class="nombre-imagen-usuario">
					<a href="/profile/<%= product.usuario.id %> "><img class="foto-circulo" src="<%= product.usuario.imagen %>" alt=""></a>
					<a href="/profile/<%= product.usuario.id %> "><h2 class="main-title-products"><%= product.usuario.usuario %> </h1></a>
					</div>
					<img src="<%= product.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= product.descripcion %>
					</p>
				</article>

				
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < product.comentarios.length; i++ ) { %>
							<article>
								<img src="<%= product.comentarios[i].usuario.imagen %>" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/profile/<%= product.comentarios[i].usuario.id %> "><%= product.comentarios[i].usuario.usuario %> : </a> </strong>
									<%= product.comentarios[i].contenido %> 
									</p>
								</div>
							</article>
						<% } %>
					</section>
					<form class="form" method="POST">
						<input class="form-input" type="text" value="" name="contenido" id="contenido" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<% if (locals.user && user.id == product.usuario_id) { %>
						<form action="/product/id/<%= product.id %>/delete" method="POST">
						  <input class="btn btn-danger" type="submit" value="Borrar">
						</form>
					  <% } %>
					  
					  <% if (locals.user && user.id == product.usuario_id) { %>
						<form action="/product/id/<%= product.id %>/edit" method="get">
						  <input class="btn btn-danger" type="submit" value="Editar">
						</form>
					  <% } %>

					  
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

<%- include('./partials/footer') %>