<% if (locals.user != null) { %>
	<%- include('./partials/headerLogueado') %>
<% } else { %>
	<%- include('./partials/header') %>
<% } %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center contenedorPP">
			<div class="div-botonesP">
			<h2 class="products-title"><%= product.nombre %></h2> 
			
			<% if (locals.user && user.id == product.usuario_id) { %>
			
				<form action="/product/id/<%= product.id %>/edit" method="get" class="contenedorP">
					<button type="submit" class="botones-producto"><img class="pizza-header pastaFoto" src="/images/edit.png" alt="Editar"></button>
				</form>
			</div>
				<form action="/product/id/<%= product.id %>/delete" method="POST" class="contenedorP">
					<button type="submit" class="botones-producto"><img class="pizza-header pastaFoto" src="/images/delete.png" alt="Borrar"></button>
				</form>
			
			<% } else { %>
			</div> 
			<% } %> 
			
			
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<div class="nombre-imagen-usuario">
					<a href="/profile/<%= product.usuario.id %> "><img class="foto-circulo" src="<%= product.usuario.imagen %>" alt=""></a>
					<a href="/profile/<%= product.usuario.id %> "><h2 class="main-title-products"><%= product.usuario.usuario %> </h1></a>
					</div>
					<img src="<%= product.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description"><%= product.descripcion %></p>
					<p class="product-detail-description">Fecha de carga: <%= product.fecha %> </p>
				</article>

				
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < product.comentarios.length; i++ ) { %>
							<article>
								<img src="<%= product.comentarios[i].usuario.imagen %>" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/profile/<%= product.comentarios[i].usuario.id %> "><%= product.comentarios[i].usuario.usuario %> : </a> </strong>
									<%= product.comentarios[i].contenido %> 
									</p>
								</div>
							</article>
						<% } %>
					</section>
					<form class="form" method="POST">
						<input class="form-input" type="text" value="" name="contenido" id="contenido" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

<%- include('./partials/footer') %>