<% if (locals.user != null) { %>
	<%- include('./partials/headerLogueado') %>
<% } else { %>
	<%- include('./partials/header') %>
<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<section class="product-box" id="results-section">
				<a href="/product/id/<%= products[1].id %> ">
					<figure class="product-box_image">
						<img src="<%=products[1].imagen%>" alt="cafetera moulinex">
					</figure>
					<article class="product-box_data">
						<h2> <%=products[1].nombre%></h2>
						<p><%= products[1].descripcion %> </p>
						<p>Comentarios: <%= comments.length %> </p>
					</article>
				</a>
			</section>

<%- include('./partials/footer') %>